@use '../abstracts/variables.scss' as *;
@use '../base/typography.scss' as *;
@use '../abstracts/functions.scss' as *;
@use '../abstracts/mixins.scss' as *;

.signupct {
  width: 35%;
  height: 30%;
  .logintop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    img {
      width: 15%;
    }
    .signin-redirect {
      width: 31%;
      p {
        span {
          color: $primaryColor;
          font-weight: 700;
        }
      }
    }
  }
}
