@use "../abstracts/variables.scss" as *;
@use "../base/typography.scss" as *;
@use "../abstracts/functions.scss" as *;
@use "../abstracts/mixins.scss" as *;

.card {
  height: 20rem;
  width: 22rem;
  .image {
    height: 15rem;
    width: 21rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-dets{
    padding: 0 1rem;
    padding: 1rem 0rem;
    height: 5rem;
  }
}
